
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    
    
}

.text{
    padding-top: 20%;
    text-align: center;
    display: inline-block;
    font-family: cursive;
    font-size: 100px;
    align-content: center;
  
}

